################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/Application/MedicalConsultation.Controller/bin/Debug/net8.0
/Application/MedicalConsultation.Controller/obj
/Application/MedicalConsultation.Interfaces/bin/Debug/net8.0
/Application/MedicalConsultation.Interfaces/obj
/Application/MedicalConsultation.Messages/bin/Debug/net8.0
/Application/MedicalConsultation.Messages/obj
/Application/MedicalConsultation.Validations/bin/Debug/net8.0
/Application/MedicalConsultation.Validations/obj
/Domain/MedicalConsultation.Entity/bin/Debug/net8.0
/Domain/MedicalConsultation.Entity/obj
/Gateway/MedicalConsultation.Gateways/bin/Debug/net8.0
/Gateway/MedicalConsultation.Gateways/obj
/Infrastructure/MedicalConsultation.MassTransit/bin/Debug/net8.0
/Infrastructure/MedicalConsultation.MassTransit/obj
/Infrastructure/MedicalConsultation.Repository/bin/Debug/net8.0
/Infrastructure/MedicalConsultation.Repository/obj
/Presenter/MedicalConsultation.Api/bin/Debug/net8.0
/Presenter/MedicalConsultation.Api/obj
/Presenter/MedicalConsultation.Shared/bin/Debug/net8.0
*.user
/Presenter/MedicalConsultation.Shared/obj
/Presenter/MedicalConsultation.WebApp/MedicalConsultation.WebApp/bin/Debug/net8.0
/Presenter/MedicalConsultation.WebApp/MedicalConsultation.WebApp/obj
/Presenter/MedicalConsultation.WebApp/MedicalConsultation.WebApp.Client/bin/Debug/net8.0
/Presenter/MedicalConsultation.WebApp/MedicalConsultation.WebApp.Client/obj
/UseCase/MedicalConsultation.UseCases/bin/Debug/net8.0
/UseCase/MedicalConsultation.UseCases/obj
/Presenter/Client
/Presenter/Server
/Presenter/Teste
/MedicalConsultation.Consumer/bin/Debug/net8.0
/MedicalConsultation.Consumer/obj
/MedicalConsultation.Mail/bin/Debug/net8.0
/MedicalConsultation.Mail/obj
/Presenter/MedicalConsultation.Shared/bin/Debug/net7.0/MedicalConsultation.Shared.dll
/Tests/MedicalConsultation.Tests/bin/Debug/net8.0
/Tests/MedicalConsultation.Tests/obj
/MedicalConsultation.Consumer - Copia/bin/Debug/net8.0
/MedicalConsultation.Consumer - Copia/obj
/Presenter/MedicalConsultationNotification.Api/bin/Debug/net8.0
/Presenter/MedicalConsultationNotification.Api/obj
/Application/MedicalConsultation.Consumer/bin/Debug/net8.0
/Application/MedicalConsultation.Consumer/obj
/bin/Debug
/Infrastructure/MedicalConsultation.Mail/bin/Debug/net8.0
/Infrastructure/MedicalConsultation.Mail/obj
/MedicalConsultation.Consumer - Copia
/obj
/Application/MedicalConsultation.UseCases/bin/Debug/net8.0
/Application/MedicalConsultation.UseCases/obj
/Presenter/MedicalConsultation.Shared/bin/Debug/net7.0/MedicalConsultation.Shared.dll
/Presenter/MedicalConsultation.Shared/bin/Debug/net7.0/MedicalConsultation.Shared.pdb
/UseCases/MedicalConsultation.UseCases/obj
