@page "/"

<PageTitle>Página Inicial</PageTitle>

<h1> Sistema de Agendamento de Consultas</h1>
<br>

Seja bem vindo!
<br><br><br>

 <div class="nav-item px-3">
    <NavLink class="nav-link" href="schedules" >
        <img class="bi oi" src="https://img.icons8.com/?size=100&id=28WzaxCdZhVK&format=png&color=000000"/> Agendamentos realizados
    </NavLink>
</div>

<div class="nav-item px-3">
    <NavLink class="nav-link" href="teste">
        <img class="bi oi" src="https://img.icons8.com/?size=100&id=28WzaxCdZhVK&format=png&color=000000" /> Teste
    </NavLink>
</div>
